.container-login {
    padding: 16px;
  }
  .button-login {
    background: #499bea;
    background: -moz-linear-gradient(top, #499bea 33%, #207ce5 67%);
    background: -webkit-linear-gradient(top, #499bea 33%,#207ce5 67%);
    background: linear-gradient(to bottom, #499bea 33%,#207ce5 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
    border-radius: 25px;
    transition: 0.5s;
    color: black;
  
   
    border-radius:20px;
    font-weight:900;
  
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .button-login:hover {
    opacity: 0.8;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
  color:black;
  
  }

  .body-login {font-family: Arial, Helvetica;}

  /* Full-width input fields */
  input[type=text], input[type=password] { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #d15046;
    border-radius: 20px;
    color:white;
  }
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
 